{% extends 'main.html' %}

{% block content %}
<div class="container">

    <!-- profile picture section -->
    <div class="card" style="width: 100%;
    background-image: url(https://i.pinimg.com/originals/e1/86/eb/e186eb6deeae0c65db343938923d8f79.jpg);
    background-size: cover;
    height: 300px;">
        <div class="row g-0">
            <div class="col-md-2">
              <img src="{{user1.profile.imageUrl}}">
            </div>
            <div class="col-md-4" id="profile-col">
              <div class="card-body">
                <h3 class="card-title" style="color: #ffeead ;">{{user1.profile.firstname}} {{user1.profile.lastname}}</h3>
                <p class="card-text" style="color:#ffeead;">From {{user1.profile.city}}</p>
              </div>
              <div class="card-footer bg-transparent border-success">
                <p class="card-text" style="color:#ffeead; word-spacing: 10px;">{{like_count}} likes  {{post_count}} posts {{friend_count}} friends </p>
            </div>
            </div>
            <div class="col-md-4" id = "profile-col"style="margin-top: 10px; margin-left: 120px;">
                <div class="card-body">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2XTgf6oOC2eO8i3tiCHNnA_nnFqrcq7ZhCg&usqp=CAU" class="card-img-top" style="height: 200px; width: 200px; margin-left: 80px; margin-bottom: 20px; border-radius: 50%; border: #ffeead 3px solid;">
                       
                    <form action="{% url 'addfriend' user1.username %}" method="post">
                          {% csrf_token %}
                          {% if user1 != request.user %}
                            {% if not request.user.profile in friends.all %}
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-user-plus"> Add Friend</i>  
                            </button>
                            {% else %}
                            <button type="submit" class="btn btn-primary">
                              <i class="fa fa-user-plus"> Unfriend</i>  
                          </button>
                          {% endif %}
                          {% endif %}


                          {% if user1 == request.user %}
                            <a href="{% url 'editprofile' user.username %}" class="btn btn-primary">
                                <i class="fa fa-cog"> Edit</i> 
                            </a>
                            <a href="{% url 'removeprofile' user.username %}" class="btn btn-primary">
                                <i class="fa fa-trash"> Remove</i> 
                            </a>
                            {% endif %}
                        </form>
                    </div>
              </div>
          </div>
      </div>


      <!-- profile posts section -->
    <div class="row">
        <div class="col-8">
          {% for post in posts %}
          <div class="card">
            <div class="card-body">
             <a href="{% url 'profile' post.user.username %}" style="text-decoration:none ; color:black">
              <h5 class="card-title">
                <img src="{{user1.profile.imageUrl}}">  
                {{post.user.profile.firstname}} {{post.user.profile.lastname}}
              </h5>
             </a>
              <small class="card-subtitle mb-2 text-muted">{{post.created|timesince}}</small>
              {% if post.group != blank  %}
              <br>
              <small class="card-subtitle mb-2 text-muted"> Posted in group: {{post.group.name}}</small>
              {% endif %}
              <a href="{% url 'post' post.id %}" style="text-decoration: none; color:black">
              <p class="card-text">{{post.body|linebreaks|truncatechars:300}}
              </p>
              <div>
                  <img src="{{post.imageUrl}}" class="img-fluid" alt="...">
              </div>
            </a>
                <form action="" method="post">
                  {% csrf_token %}
                  <!-- likes -->
                  {% if request.user.profile in post.likes.all %}
                  <input type="text" value="{{post.id}}" name="postid" style="display: none;">
                  <button type="submit" class="btn btn-primary">
                        <i class="fa fa-thumbs-down fa-lg"> <small> dislike </small></i>  
                  </button>
                  {% else %}
                  <input type="text" value="{{post.id}}" name="postid" style="display: none;">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-thumbs-up fa-lg"> <small> like </small></i>  
                  </button>
                  {% endif %}

                  {% if post.user == request.user %}
                <a href="{% url 'editpost' post.id%}" class="card-link">
                    <i class="fa fa-cog fa-lg" style="color:#7CBB00 ;"></i>  
                    edit
                </a>
                <a href="{% url 'removepost' post.id%}" class="card-link">
                    <i class="fa fa-trash fa-lg" style="color:#7CBB00 ;"></i>  
                    Delete
                </a>
                {% endif %}

                </form>
                <!-- add comment -->
            <form action="{% url 'addcomment' post.id %}" method="post" style="margin-top: 20px;">
              {% csrf_token %}
                <div class="input-group mb-3" style="width:600px;">
                    <textarea name="body" cols="30" rows="1" class="form-control" placeholder="add comment..."></textarea>
                    <button class="btn btn-outline-success" type="submit" id="button-addon2"><i class="fa fa-comment fa-lg"></i> </button>
                  </div>
            </form>
            <small class="card-subtitle mb-2 text-muted">{{post.likes.all.count}} likes</small>
            <small class="card-subtitle mb-2 text-muted">{{post.comment_set.all.count}} comments</small>
            </div>
            </div>

            {% endfor %}
        </div>

        <!-- about section -->
            <div class="col-4">
                <div class="card" style="width: 23rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <label>
                            <i class="fa fa-lemon-o" style="margin-left: 30px;"><span style="margin-left: 10px;">About</span></i>
                        </label>
                      </li>
                      <li class="list-group-item"><i class="fa fa-birthday-cake fa-lg"></i> <span style="margin-left: 10px;">{{user1.profile.dob}}</span></li>
                      {% if user1.profile.relationship %}
                      <li class="list-group-item"><i class="fa fa-heart fa-lg"></i> <span style="margin-left: 10px;">In relationship</span></li>
                      {% else %}
                      <li class="list-group-item"><i class="fa fa-heart fa-lg"></i> <span style="margin-left: 10px;">Single</span></li>
                      {% endif %}
                      <li class="list-group-item"><i class="fa fa-home fa-lg"></i> <span style="margin-left: 10px;">{{user1.profile.city}}</span></li>
                      <li class="list-group-item"><i class="fa fa-users fa-lg"></i> <span style="margin-left: 10px;">{{friends.count}} Friends</span></li>
                    </ul>
                  </div>

                   <!-- friends -->
                  
                  <div class="card" style="width: 23rem; height: 30rem; overflow-y: scroll;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <label>
                            <i class="fa fa-lemon-o"><span style="margin-left: 10px;">Friends</span></i>
                        </label>
                      </li>
                      {% for friend in friends %}
                      <a href="{% url 'profile' friend.user.username %}" style="text-decoration: none;">
                        <li class="list-group-item">
                          <h5 class="card-title">
                              <img src="{{friend.imageUrl}}" style="margin-right: 20px;">  
                              {{friend.firstname}} {{friend.lastname}}
                          </h5>
                        </li>
                      </a>
                      {% endfor %} 
                    </ul>
                  </div>
                  

                 <!-- groups -->
                 <div class="card" style="width: 23rem; height: 30rem; overflow-y: scroll;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <label>
                          <i class="fa fa-lemon-o"><span style="margin-left: 10px;">Groups</span></i>
                      </label>
                    </li>
                    {% for group in groups %}
                    <a href="{% url 'group' group.id %}" style="text-decoration:none ;">
                    <li class="list-group-item">
                      <h5 class="card-title">
                          <img src="{{group.imageUrl}}" style="margin-right: 20px;">  
                          {{group.name}}
                      </h5>
                    </li>
                  </a> 
                    {% endfor %}
                  </ul>
                </div>
            </div>
      </div>
    </div>
</div>

{% endblock %}